body {
	background-image: radial-gradient(closest-corner, white 69%, #ebebeb);
	background-repeat: no-repeat;
    background-attachment: fixed;
}

#splash-logo {
	position: relative;
	top: 50%;
	transform: translateY(-55%);
	height: 50vh;
	cursor: pointer;
}


.brand-name {
	margin-top: 7%;
}
/*
.brand-name img {
	height: 32%;
}
*/
