<div id="main-section" class="container" style="display: none;">
	<div class="row brand-name">
		<div class="col-sm-4 offset-sm-4 col-8 offset-2 text-center">
			<img src="{{ theme.path }}/img/olivierbettendorff.png" class="img-fluid"></img>
		</div>
	</div>
</div>
