<div id="splash-section" class="container">
	<div class="row">
		<div class="col-sm-12 min-vh-100 text-center">
			<img id="splash-logo" src="{{ theme.path }}/img/logo_hr.png" alt="Olivier Bettendorff">
		</div>
	</div>
</div>
